h1 {
    font-size: 24px;
    color: red;
}

.box {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid black;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 
.container {
    display: flex;
}
  
.item {
    /* flex item styles go here */
}